<!doctype html>
<!-- Check Line 2 carefully for any typos around column 58 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
<h2>Authentification</h2>
<form th:action="@{/login}" method="post">
    <label>Nom d'utilisateur :</label>
    <label>
        <input type="text" name="username"/>
    </label>


    <label>Mot de passe :</label>
    <label>
        <input type="password" name="password"/>
    </label>


    <button type="submit">Se connecter</button>
</form>
</body>
</html>